
body{
    margin: 150px 0;
    padding: 0;
}

.container{
    background-color: rgb(2 115 255 / 37%);
    width: 400px;
    height: 90%;
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.display{
    border: 1px solid black;
    border-radius: 5px;
    height: 60px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: 2rem;
    background-color: whitesmoke;
}

.wrapper-delete-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-buttons{
    border: 1px solid black;
    padding: 20px 50px;
    border-radius: 5px;
    width: 93px; 
}

#clear{
    background-color: rgb(237 252 255 / 43%);
    cursor: pointer;
}

:hover#clear{
    background-color: rgba(237, 252, 255, 0.752);

}

#delete{
    background-color:  rgb(253 178 178 / 80%);
    cursor: pointer;
}

:hover#delete {
    background-color:  rgba(253, 178, 178, 0.992);
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.button{
    padding:10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    height: 40px;
    font-size: 2rem;
    cursor: pointer;
    transition: all .07s ease;
}

.press{
    transform: scale(1.1);
    border-color: #050505;
    box-shadow: 0 0 10px #205a5a;
    background-color: gray;
}

:hover.button{
    border-color: #050505;
    box-shadow: 0 0 10px #205a5a;
    background-color: lightgray;
}